<footer>
  <div class="container">
    <div class="social-media">
      <div class="logo">
        <h4>Champion Genetics</h4>
        <%= image_tag "https://res.cloudinary.com/dxk959tzt/image/upload/v1693255848/logo_oj5edp.png", class: "footer-img" %>
      </div>
      <div class="social-media">
        <ul>
          <li><i class="fa-brands fa-instagram"></i></li>
          <li><i class="fa-brands fa-x-twitter"></i></li>
          <li><i class="fa-brands fa-facebook-f"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
