<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dxk959tzt/image/upload/v1693326183/philippe-oursel-Jfk79d9MrHQ-unsplash_mtrhct.jpg);">
  <div class="container">
    <h1>Elevate Your Breeding Program with Top-Quality Genetics</h1>
    <p>Find your next Champion</p>
    <a class="btn btn-flat" href="#">Browse Horses</a>
  </div>
</div>
<section>
  <h2>Need something done?</h2>
  <p>Most viewed and all-time top-selling services</p>
  <div class="services">
    <div class="service">
      <h2>Post a Horse</h2>
      
    </div>
  </div>
</section>
