.banner-services {
  color: white;
  background-color: #283618 ;
}

.icon {
  font-size: 3rem;
}

.service {
  padding: 2rem;
  h2{
    margin-top: 1rem;
  }
}

.title-banner-services {
  margin-top: 3rem;
}
